/* You can add global styles to this file, and also import other style files */

// Custom Theme Angular Material
@use './theme/custom.theme.scss';

// Variable
@use './abstract/variables';

// Custom Angular Material Style
@use './material/buttons';
@use './material/table';
@use './material/tabs';
@use './material/input';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	::before,
	::after {
		border-style: none;
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
